$clr-font-main: hsl(235, 5%, 41%);
$clr-font-timestamp: hsl(231, 8%, 68%);
$clr-account-link: hsl(227, 10%, 18%);
$clr-post-link: hsl(219, 12%, 42%);
$clr-group-link: hsl(220, 66%, 22%);
$clr-link-hover: hsl(219, 68%, 23%);
$clr-border: hsl(210, 11%, 93%);